@import './standar.scss';

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: $text-btn-color;
}

.div-ul-list {
    display: flex;
    justify-content: space-evenly;
}

.ul-li-options {
    list-style: none;
    justify-content: space-between;
}

.copyright {
    color: $title-color;
}