@import './standar.scss';

.text {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.div-h1-title {
    color: $title-color;
    font-size: $size-wlcme;
    text-shadow: $box-shadow-title;
    text-align: center;
}

.h1-p-paragraph {
    font-size: 50px;
    color: $title-color;
    text-shadow: $text-shadow-header;
    text-align: center;
}

.div-ul-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ul-li-btn {
    list-style: none;
}
/*  .ul-li-a-btn {
    font-size: 30px;
    width: 10%;
    text-decoration: none;
    background-color: rgb(144, 5, 5);
    text-shadow: 0px 0px 10px rgb(0, 255, 0);
    color: white;
} */