/* colors */

$title-color: whitesmoke;
$text-btn-color: white;
$box-shadow-btn: 0px 0px 30px #58a9c7;
$box-shadow-title: 0px 0px 40px blue;
$box-shadow-form: 0px 0px 30px #58a9c7;
$border-box: solid 2px #131e1f;
$text-shadow-header:  0px 0px 40px greenyellow;

/* font size */

$size-wlcme: 100px;
$size-title: 60px;
$size-subtitle: 50px;
$size-paragrhap: 20px;
$size-txt-btn: 16px;
$size-name: 20px;
